#### Configurazioni di base dell'applicazione
app-name=R-DeV | Rubrica
#### Configurazioni per l'accesso al database
app.db.host=jdbc:mysql://localhost
app.db.port=3306
app.db.name=test
app.db.username=root
app.db.password=
app.db.driver.class=com.mysql.cj.jdbc.Driver
#file or dbms
type=FILE
app.file.path=C:\Users\Peppe\Documents\Rubrica.txt